table.table {
  tr {
    td.title {
      a:first-child {
        float: left;
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i.fa-thumb-tack {
        color: #888;
        margin-left: 11px;
      }
    }

    th.operate {
      div:first-child {
        position: relative;
        user-select: none;
        cursor: pointer;
        display: inline-block;
        //border:

        &:hover {
          margin-top: -1px;
          border: 1px solid #ddd;
          border-radius: 3px;
          background: #fefefe;
        }
      }
    }
  }
}