@import "toolbar";

@include toolbar;

.post {
  border: 1px solid #666;
  display: flex;

  .user-info {
    width: 240px;
    box-sizing: border-box;
    padding: 20px;

    .user-name {
      font-weight: bold;
    }

    .banned {
      span.name {
        text-decoration: line-through;
      }
      span.ban-sign {
        color: #954121;
        font-weight: normal;
      }
    }

    img {
      max-height: 160px;
    }
  }

  .main {
    width: 100%;
    border-left: 1px solid #666;
    word-break: break-all;
    box-sizing: border-box;
    padding: 1px 20px 5px 20px;
    position: relative;

    .post_info {
      padding: 6px 0 3px;
      margin: 0 0 15px 0;
      border-bottom: 1px solid #ddd;
    }

    .floor {
      position: absolute;
      right: 20px;
      top: 8px;
    }

    .post_content {
      min-height: 150px;

      img {
        max-height: 400px;
      }
    }
  }
}